<!DOCTYPE html>
<html lang="en">
    <head>
      <title>Medical Forms OCR - Index</title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>

 <style>
  #bg {
    background: url("{{ url_for('static', filename='bg/hospital_bg.jpg') }}");
    background-repeat: no-repeat;
    background-size: cover;
  }
  .footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        text-align: center;
      }
  </style>
  
<body id="bg">
    <div class="main" style="text-align: center;">
      <h1><a href= "/">Medical Forms OCR</a></h1>
      <h4>Upload your File</h4>
      <br>
      <form method="POST" action="/extract" enctype="multipart/form-data">
          <p>
          <input accept='.pdf,.jpg' type='file' name='file'>
          <br><br>
          <input type="submit" value="Upload" style="height: 70px; width: 130px; left: 250; top: 250;">
	        <br>
      </form>
      <h2>{{msg}}</h2>
    </div>

    <div class="footer">
      <p>Developed by Kasidech Chumkun</p>
  </div>
</body>

</html>
